opencv-python-headless
mediapipe==0.10.9
scikit-learn==1.3.2
numpy
matplotlib
streamlit
streamlit-lottie
requests
streamlit-webrtc==0.45.1
av==10.0.0
protobuf>=3.20,<5
streamlit-option-menu
tornado>=6.0.3,<6.3
